@import '../../../variables';

.panel-border {
  border-radius: var(--border-radius);
}

.panel-background-color {
  background-color: #ffffff;
}

.panel-margin {
  margin: 1rem;
}

.panel-container {
  @extend .panel-border;
  @extend .panel-background-color;
  @extend .panel-margin;

  &__title {
    border-bottom: #EEEEEE .5px solid;
    color: #000000;
    background-color: #ffffff; // #def5fd
    margin: 1rem;
    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    & .actions {
      display: flex;
      align-items: flex-end;
  
      & ::ng-deep .custom-button {
        margin: 0 0 0 .5rem;

        .icon {
          height: 1rem;
        }
      }
    }
  }

  &__content {
    @extend .panel-background-color;
    @extend .panel-margin;
  }
}
