@import '../../../variables';

.panel-border {
  border-radius: var(--border-radius);
}

.panel-background-color {
  background-color: #ffffff;
}

.panel-margin {
  margin: 1rem;
}

.panel-container {
  @extend .panel-border;
  @extend .panel-background-color;
  @extend .panel-margin;

  &__title {
    border-bottom: #EEEEEE .5px solid;
    color: #000000;
    background-color: #ffffff; // #def5fd
    margin: 1rem;
    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    .title-text {
      font-size: 1.4rem;
    }
  }

  &__content {
    @extend .panel-background-color;
    @extend .panel-margin;
  }
}
