@import '../../../../variables';

.input-field {
  
  padding: var(--control-padding);

  border: var(--control-border);
  border-radius: var(--control-border-radius);

  &:focus {
    border: var(--control-border-focus);
  }

}