<field for="input_{{type}}_{{attr}}" label="{{label}}" [validations]="validations">
  <input
    id="input_{{type}}_{{attr}}"
    type="{{type}}"
    [(ngModel)]="visualModel"
    (ngModelChange)="onFieldChange($event)"
    autocomplete="off"
    class="form-control input-field"
    [ngClass]="{ 'error': errorMessage, 'no-error': !errorMessage }"
    [placeholder]="placeholder"
    [title]="label"
    name="input_{{type}}_{{attr}}"
    (change)="onInputChange()"
    (keyup.enter)="onInputChange()"
    [disabled]="!enabled"
    title="{{attr}}"
  />
</field>
<span class="error" >{{errorMessage}}</span>
