@import '../../../variables';

.table-container {
  padding: 1rem;
  background-color: #ffffff;

  .table {
    border-collapse: collapse;

    &.flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__row { 
      border-bottom: #eeeeee .5px solid;
    }  
    
    &__header {
      &:first-of-type {
        border-top-left-radius: var(--border-radius);
        border-end-start-radius: var(--border-radius);
      }
  
      &:last-of-type {
        border-top-right-radius: var(--border-radius);
        border-end-end-radius: var(--border-radius);
      }
  
      text-align: left;
      padding: 1rem;
    }
  
    &__cell {
      padding: 1rem;
  
      & .image {
        max-width: 50px;
      }
    }

    &__context-menu {
      position: relative;
      /* Estilos básicos para el menú */
      .menu-icon {
        width: 14px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
      }

      .menu-icon span {
        width: 100%;
        height: 4px;
        background-color: #000000;
        border-radius: 2px;
      }

      /* Estilos para el menú contextual */
      .context-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: .3rem;
      }

      .context-menu-item {
        padding: 10px;
        cursor: pointer;
      }

      /* Mostrar el menú contextual cuando se hace clic en el icono */
      .menu-icon:focus + .context-menu {
        display: block;
      }
    }
  
    &__no-items-found {
      &:first-of-type {
        border-top-left-radius: var(--border-radius);
        border-end-start-radius: var(--border-radius);
      }
  
      &:last-of-type {
        border-top-right-radius: var(--border-radius);
        border-end-end-radius: var(--border-radius);
      }
  
      padding: 1rem;
    }
  }
  
  .footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}