@import '../../../variables';

.custom-button {
  padding: calc(var(--control-padding) * 2);
  background-color: #F5DF66; 
  border: none;
  cursor: pointer;
  font-weight: bold;

  .label {
    cursor: pointer;
  }
  
  &:hover {
    background-color: #a8983a;
  }

  &:disabled {
    opacity: 50%;
  }
}