@import '../../../variables';

.custom-button {
  padding: calc(var(--control-padding) * 2);
  &.primary {
    background-color: #F5DF66; 
  }
  border: none;
  border-radius: calc(var(--control-border-radius) / 2);
  cursor: pointer;
  font-weight: bold;

  .label {
    cursor: pointer;
  }
  
  &.primary:hover {
    background-color: #a8983a;
  }
  &.secondary:hover {
    background-color: #b6b6b6;
  }

  &:disabled {
    opacity: 50%;
  }

  &:hover:disabled {
    background-color: #F5DF66;
    cursor: auto;
    .label {
      cursor: auto;
    }
  }
}