/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
/* Scrollbar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
  border: 2px solid  #cccccc;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  border: 1px solid  #ffffff;
  border-radius: 10px;
  background-color: #dddddd;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Estilo para filas */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Estilo para columnas */
.col {
  flex: 1;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

@media (min-width: 1201px) {
  * {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  * {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  * {
    font-size: 12px;
  }
}
