/* You can add global styles to this file, and also import other style files */

/* Estilo para filas */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Estilo para columnas */
.col {
  flex: 1;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

@media (min-width: 1201px) {
  * {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  * {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  * {
    font-size: 12px;
  }
}
